.all{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap;
    height:100%;
    width: 100%;
    justify-content: space-between;
    
}
.post{

    display: flex;
    flex-direction: column;
    justify-content: center
}


.trend{
    margin-top: 60px;
    display: flex;
    flex-direction: column; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;             
}
.post{
   display: flex;
   justify-content: top;
   margin: 0 auto;
   z-index: 1;
}
.sugest{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;             
    left:90%;
}

.sugestt{
    font-family: 'proxima-nova', sans-serif;
    margin-top: 3%;
    right: 3%;
    position: relative;
    display: flex;
    width: 15%;
    justify-content: center;
    font-size: 200%;     
    color: #020E26;  
    text-decoration: underline #020E26;   
}

.trendt{
    font-family: 'proxima-nova', sans-serif;
    margin-top: 3%;
    left: 3%;
    position: relative;
    display: flex;
    width: 15%;
    justify-content: center;
    font-size: 200%;     
    color: #020E26;  
    text-decoration: underline #020E26;     
}

@media only screen and (max-width: 390px) {
    .all{
        margin-top: 170%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        }
        
        .post{
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        
        .trend{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 30%;
        }
        
        .post{
        display: flex;
        justify-content: top;
        margin: 0 auto;
        z-index: 1;
        }
        
        .sugest{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: auto;
        }
        
        .sugestt{
        font-size: 120%;
        color: aliceblue;
        display: flex;
        width: 30%;
        justify-content: center;
        }
        
        .trendt{
        margin-left: 2%;
        display: none;
        width: 30%;
        justify-content: center;
        font-size: 120%;
        color: aliceblue;

        }

}